@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*,
html {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Style Star */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1.5px solid rgb(0, 95, 197);
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: rgb(0, 95, 197);
}

nav .rented-wheel {
    width: 270px;
}

/* Header Section End */

/* Hero Section Start */
.hero-section {
    background-image: url(images/b77faab1-a428-41fb-83cc-3eb52ad7428e.jpg);
    background-repeat: no-repeat;
    margin-left: 8px;
}

.car-description {
    margin-top: 15px;
    padding: 100px;
    text-align: center;
    align-items: center;
}

.car-title {
     padding-top: 135px;
     font-size: 1.4rem;
     font-weight: 700;
     color: rgb(255, 255, 255);
     cursor: pointer;
}

.car-heading {
    padding-bottom: 200px;
    font-size: 5.4rem;
    font-weight: 700;
    color: rgb(14, 76, 157);
    text-decoration: 2px solid underline;
}

/* Hero Section End */

/* Pick Up Infoirmation Start */

.form{
    margin: auto;
    width: 62rem;
    margin-top: -200px;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}
.form .data h3{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 20px;
}


.form .data input{
    margin-left: 10px;
    width: 60rem;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border: none;
    background: rgba(213, 225, 236, 0.979);
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: aliceblue;
}

.primary-btn{
    padding: 20px 35px;
    margin-left: 10px;
    background-color: rgb(0, 95, 197);
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    color: azure;
}

.benefits img {
    margin-top: 30px;
    width: 150px;
}
.benefits h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.benefits{
    text-align: center;
    width: 62rem;
    margin: auto;
}
.should{
    text-decoration: none;
}

/* Cards Section Start */

.cards{
    display: flex;
    justify-content: space-between;
    width: 62rem;
    margin: auto;
    padding-bottom: 20px;
}

.child-cards{
    background-color: aliceblue;
    margin-top: -150px;
    margin-left: 10px;
    padding: 5px;
}

.cards-heading{
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(14, 76, 157);
}

.cards-title{
    color: rgb(129, 192, 247);
    padding-bottom: 10px;
}

.view-more{
    border: 1.5px solid rgb(14, 76, 157);
    background-color: white;
    color: rgb(14, 76, 157);
    width: 100%;
    padding: 20px;
    border-radius: 5px;
}

.view-more:hover{
    background-color:rgb(14, 76, 157);
    color: white;
    border: none;
    transition-duration: 0.5s;
}

/* Cards Section End */

/* Media Quries */
/* Mobile Version */
@media screen and (max-width: 576px) {
   nav{
    flex-direction: column;
    margin-left: 0px ;
    margin-bottom: 10px;
    border-bottom: none;
   } 
   nav li{
    font-size: 0.7rem;
   }
   .car-description {
    margin-top: 0px;
    padding: 0px;
   }
   .car-title {
    padding-top: 165px;
    font-size: 0.7rem;
}
.car-heading {
    padding-bottom: 300px;
    font-size: 2.4rem;
}
.form{
    margin: auto;
    width: 85%;
    margin-top: -120px;
}
.form .data input{
    width: 92%;
}
.primary-btn{
    margin-left: 28%;
}
.benefits{
    width: 100%;
}
.should {
    font-size: 2rem;
    text-decoration: none;
    padding-bottom: 200px;
}
.cards{
    flex-direction: column;
    width: 100%;
}
.child-cards{
    padding-bottom: 20px;
    margin-bottom: 160px;
}
}

/* Tablet Version */

@media screen and (min-width:576px) and (max-width:960px) {
    nav .rented-wheel{
        width: 30%;
    }
    nav li{  
    font-size: 0.8rem;
    }
    nav li a{
        width: 70%;
    }
    .car-title {
        padding-top: 145px;
        font-size: 1.2rem;
   }
   .car-heading {
    font-size: 3.4rem;
    text-decoration: none;
}
.form{
    margin: auto;
    width: 85%;
    margin-top: -120px;
}
.form .data input{
    width: 92%;
    margin-left: 20px;
}
.form .data h3{
    margin-left: 20px;
}
.primary-btn{
    margin-left: 38%;
}
.benefits{
    width: 100%;
}
.cards{
    flex-direction: column;
    width: 85%;
}
.child-cards{
    margin-bottom: 160px;
}
}